*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
   min-height:100vh;
   background: url(bg-image.jpg);
   background-position:center;
   background-size: cover;

    
}
:root{
    --maint-color: #c40505;
    --text-color: #020307;
    --bg-color: #fff;
}
header{
    background-color: var(--maint-color);
    padding: 20px;
}
.book-head{
    padding: 5px 10px 5px 10px;
}
.book-name h2{
    color: orchid;
    letter-spacing: 2px;
    font-size: 40px;
    margin-top:2px ;

}
.book-name h4{
    color: rgb(17, 16, 17);
    margin-top:5px ;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    border-bottom: 2px solid orange;
    width: fit-content;

}
.book-name{
    border: 10px solid rgb(77, 4, 4);
    padding: 20px;
    background: transparent;
    color: var(--bg-color);
    border-radius: 20px;
    margin: 20px 30px 0;
    width: 25%;
    backdrop-filter: blur(10px);
    display: inline-block;
    
}
.dele-para-btn{
    border: none;
    border-radius: 5px;
    background-color: orchid;
    color: var(--text-color);
    margin-top: 15px;
    padding: 5px 8px;
    transition: all linear 0.5s;
}
.dele-para-btn:active{
    transform:translatey(10px);
}
.add-btn{
    position: fixed;
    width: 80px;
    right: 30px;
    bottom: 30px;
    padding: 10px;
    border-radius: 100%;
    color: var(--bg-color);
    background-color: var(--maint-color);
    border: none;
    font-size: 50px;
    transition: all  linear 0.5s;

}
.add-btn:active{
    transform: scale(0.5);
}
.popup-overlay{
    background-color: #020307;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.add-textcontent{
   background-color: rgb(231, 61, 61);
   width: 30%;
   padding: 30px;
   height: 35%;
   position: absolute;
   top: 20px;
   left: 30%;  
   border-radius: 10px;
   z-index: 2;
   display: none;
}

.add-textcontent h2{
    margin-left: 38%; 
}

.add-textcontent input{
    height: 20px;
    width: 80% ;
    margin-left: 10%;
    border: none;
    padding: 5px;
    background: transparent;
    border-bottom: 2px solid black;
    color:black;
}
.add-textcontent textarea{
    height: 80px;
    width: 82% ;
    margin-left: 10%;
    margin-top: 15px;
    border: 2px solid black;
    background: transparent;
    padding: 2px;
    color:black;
   
}
.add-textcontent input::placeholder{
    color: black;
}
.add-textcontent textarea::placeholder{
    color: black;
}
.add-textcontent button{
    margin:10px 50px 10px 10% ;
    border-radius: 5px;
    background-color: #0c0b0b;
    color: white;
    padding: 5px;
    width: 80px;
    height: 40px;
    border: none;
    transition: all ease-in-out 0.5s;
}

.add-textcontent:active{
    transform: scale(-0.5);
}

.add-textcontent input:focus{
    outline: none;
}
.add-textcontent textarea:focus{
    outline: none;
}

@media  screen and (min-width:480px){
    header{
        font-size: 25px;
        padding: 20px; 
    }
    
    .book-head{
        padding: 30px; 
    }
    .book-name{
        width: 60%;
        height:20%;
        font-size:25px;
    }
    .add-textcontent{
        width: 80%;
        height: 50%;
        padding: 10px;
        position: absolute;
        top: 80px;
        left: 10%;
        right: 20%; 
    }
    .add-textcontent form{
        width: 100%;
        height: 80%;
        padding: 5px;
        position:relative;
        margin-top: 10px;
        margin-left: 50px;
    }
    .add-textcontent form textarea{
        width: 80%;
        height: 40%;
        margin-left: 20px;
    }
    .add-textcontent form input{
        margin: 10px 0 10px;
        margin-left: 20px;
    }
    .add-textcontent form button{
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;  
        
    }
}    
@media  screen and (max-width:480px) {
    header{
        font-size: 25px;
        padding: 20px; 
    }
    
    .book-head{
        padding: 20px; 
    }
    .book-name{
        width: 65%;
        height: 50%;
        font-size: 20px;
    }
    .add-textcontent{
        width: 80%;
        height: 50%;
        padding: 10px;
        position: absolute;
        top: 80px;
        left: 10%;
        right: 20%; 
    }
    .add-textcontent h2{
        position: relative;
        font-size: 15px;
        margin: 20px 110px 5px;
    }
    .add-textcontent form{
        width: 100%;
        height: 80%;
        padding: 5px;
        position:relative;
        margin-top: 10px;
        margin-left: 50px;
        right: 20%;
    }
    .add-textcontent form textarea{
        width: 80%;
        height: 40%;
    }
    .add-textcontent form input{
        margin: 10px 0 10px;
        margin-left: 35px;
    }
    .add-textcontent form button{
        margin-top: 20px;
        margin-left: 50px;
        margin-right: auto;   
    }
}
